/* All elements with class="nav" */
.nav {
  background-color: #e8ded1;
  font-family: "Garamond";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* All elements with class="left" */
.left {
  font-size: 36px;
}

/* All elements with class="right" */
.right {
  font-size: 30px;
  display: flex;
}

/* All elements with class="right-item" */
.right-item {
  margin-left: 30px;
}

.right-item:hover {
  color: #3c7d1c;
  cursor: pointer;
}

/* All elements with class="hero-image" */
.hero-image {
  width: 100%;
}

.main-grid {
  column-count: 1;
  column-gap: 10px;
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 20px;
  display: flex;
}

.column {
  column-width: 100%;
  height: auto;
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  line-height: 30px;
}

/* All elements with class="get-to-know-me" */
.get-to-know-me {
  font-family: "Garamond";
  font-size: 23px;
  padding-right: 50px;
}

/* All elements with class="header" */
.header {
  font-size: 30px;
  display: inline-block;
}

/* All elements with class="Projects" */
.projects {
  font-family: "Garamond";
}

/* All elements with class="footer" */
.footer {
  background-color: #e8ded1;
  font-family: "Garamond";
  font-weight: lighter;
  display: flex;
  padding: 10px;
  margin-top: -20px;
}

/* All elements with class="footer-item" */
.footer-item {
  margin-left: 30px;
}

/* All elements with class="Experience" */
.Experience {
  margin-left: 10px;
}

/* All elements with class="buttons" */
.get-to-know-me-button {
  background-color: #3c7d1c;
  width: 256px;
  height: 57px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 400;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 365px;
  margin-top: 80px;
}

.get-to-know-me-button:hover {
  background-color: #174a20;
  cursor: pointer;
}

.projects-button {
  background-color: #3c7d1c;
  width: 256px;
  height: 57px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 400;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 475px;
  margin-top: 10px;
}

.projects-button:hover {
  background-color: #174a20;
  cursor: pointer;
}

.footer-item:hover {
  color: #3c7d1c;
  cursor: pointer;
}

.Experience:hover {
  color: #3c7d1c;
  cursor: pointer;
}

.project {
  border: 2px solid #555;
}
